body {
    font-family: Arial, sans-serif;
    padding: 10px;
}

.upload-group {
    display: flex;
    align-items: center;
}

input[type="text"] {
    width: 200px;
    padding: 8px;
    margin-right: 10px;
}

button {
    padding: 8px 16px;
    background-color: #007BFF;
    color: white;
    border: none;
    cursor: pointer;
    white-space: nowrap;
}

button:hover {
    background-color: #0056b3;
}

p {
    margin-top: 10px;
    font-size: 14px;
}

a {
    color: #007BFF;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

/* 默认按钮样式 */
#send-request-button {
    background-color: #007bff; /* 正常状态的背景色 */
    color: white;
    border: none;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    border-radius: 5px;
}

/* 按钮不可点击时的样式 */
#send-request-button:disabled {
    background-color: #cccccc; /* 灰色背景 */
    color: #666666; /* 灰色文字 */
    cursor: not-allowed; /* 鼠标指针显示为不可点击 */
}
